[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
